@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<style>

    .body {
        display: flex;
        flex: auto;
        height: 800px;
        background-color: #1c2937;
        overflow: hidden;
    }

    .container {
        margin-top: 30px;
        width: 100%;
        height: 750px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        padding: 10px;
        border: 4px solid #ff6a00;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .image-display {
         
        flex: 1;
        text-align: center;
        width: 100%;
        max-height: 600px;
        background-image: url('/images/hb4.png');  
        background-size: cover; 
        background-position: center;  
        background-repeat: no-repeat;
        background-color: #090d33;  
        box-shadow: 0px 0px 10px 3px #ff6a00;  
      

    } 
        .image-display img {
            flex: auto;
            margin-top: 55px;
            float: right;
            width: 50%;
            max-height: 400px;
            max-width: 750px;
            object-fit: contain;
            background-size: contain;

        } 
    .header {
        
        height:80px;
        width: 100%;
        text-align: center; 
        padding: 18px; 
     
        */
       /* box-shadow: inset 0 0 12px 12px white, inset 0 0 3px 2px white;
        background: linear-gradient(to right, #090d33, #0d71a7);*/
    } 
        .header li {
            display: flex;
            flex: auto;
            background-color: #ff6a00;
            width: 90%;
            
            color: #FFF;
            font-weight: bold;
            font-size: 18px; 
            justify-content: center;  
            align-items: center; 
            text-align: center;
            margin-bottom:10px;
        } 
        .header nav ul {
            display: flex;
            cursor: pointer;
            flex: auto; 
            height: 50px;
            width: 100%;  
            text-align: center;  
            list-style: none;
            padding: 0;  
        }

   .header li.selected-category {
       font-size:20px;
            color: #1c2937; /* Seçilen kategorinin arka plan rengini burada değiştirebilirsiniz */
    }

    .product-list {
        display: flex;
        gap: 30px;
    } 
    .product {
        margin-top:10px;
        flex: auto;
        justify-content: center;
        max-width:90%; 
        width: calc(100% / 6 - 10px);
        height: 70px;
       /* background-color: #FFA500; 
        box-shadow: 0px 0px 10px 2px #FFA07A; */
        display: block;
        cursor: pointer;
    } 
        .product img {

            width: 100%;
            max-width: 100px;
            height: 100%;
            object-fit: contain;
        } 
</style>

<div class="body">

    <div class="container">
        <div class="header">
            <nav>
                <ul> 
                    <li id="Shoes" onclick="changeCategory('Shoes')">Shoes</li>
                    <li id="Tshirts" onclick="changeCategory('Tshirts')">Tshirts</li>
                    <li id="Computer" onclick="changeCategory('Computer')">Computer</li>
                    <li id="HomeGarden" onclick="changeCategory('HomeGarden')">Home&garden</li>
                    <li id="Tools" onclick="changeCategory('Tools')">Tools</li>
                </ul>
            </nav>
        </div>
        <div class="image-display">
            <img id="displayed-image" src="" alt="Product Photo">
        </div>
        <div class="product-list">
                     <div class="product" onclick="showProductImage('/shoes/shoe3.png')">       <img src="/shoes/shoe3.png">     </div>
                     <div class="product" onclick="showProductImage('/shoes/shoe4.png')">       <img src="/shoes/shoe4.png">      </div> 
                     <div class="product" onclick="showProductImage('/shoes/shoe6.png')">       <img src="/shoes/shoe6.png">      </div>
                     <div class="product" onclick="showProductImage('/shoes/shoe7.png')">       <img src="/shoes/shoe7.png">      </div>
                     <div class="product" onclick="showProductImage('/shoes/shoe8.png')">       <img src="/shoes/shoe8.png">      </div> 
        </div>
    </div>

</div>
 
<script>

    window.onload = function () {
      
        showProductImage('/shoes/shoe3.png');
    };

    function changeCategory(category) {

        const liElements = document.querySelectorAll(".header li");
        liElements.forEach((li) => li.classList.remove("selected-category")); 
         
        const productContainer = document.querySelector(".product-list");
        let products = "";

        if (category === "Shoes") {
             
            const selectedLiElement = document.querySelector(`.header li[id="Shoes"]`);
            selectedLiElement.classList.add("selected-category");

            products = `
                              <div class="product"  onclick="showProductImage('/shoes/shoe3.png')">       <img src="/shoes/shoe3.png">      </div>
                              <div class="product"  onclick="showProductImage('/shoes/shoe4.png')">       <img src="/shoes/shoe4.png">      </div>
                              <div class="product"  onclick="showProductImage('/shoes/shoe6.png')">       <img src="/shoes/shoe6.png">      </div>
                              <div class="product"  onclick="showProductImage('/shoes/shoe7.png')">       <img src="/shoes/shoe7.png">      </div>
                              <div class="product"  onclick="showProductImage('/shoes/shoe8.png')">       <img src="/shoes/shoe8.png">      </div>
            `;
        } else if (category === "Tshirts") {

            const selectedLiElement = document.querySelector(`.header li[id="Tshirts"]`);
            selectedLiElement.classList.add("selected-category");

            products = `
                          <div class="product" onclick="showProductImage('/Tshirts/Tshirt4.png')">  <img src="/Tshirts/Tshirt4.png">   </div>
                          <div class="product" onclick="showProductImage('/Tshirts/Tshirt5.png')">  <img src="/Tshirts/Tshirt5.png">   </div>
                          <div class="product" onclick="showProductImage('/Tshirts/Tshirt6.png')">  <img src="/Tshirts/Tshirt6.png">   </div>
                          <div class="product" onclick="showProductImage('/Tshirts/Tshirt7.png')">  <img src="/Tshirts/Tshirt7.png">   </div>
                          <div class="product" onclick="showProductImage('/Tshirts/Tshirt8.png')">  <img src="/Tshirts/Tshirt8.png">   </div> 
                `;
        }
      else if (category === "Tools") {

            const selectedLiElement = document.querySelector(`.header li[id="Tools"]`);
            selectedLiElement.classList.add("selected-category"); 

        products = `
                         <div class="product" onclick="showProductImage('/tools/drill1.png')">        <img src="/Tools/drill1.png">        </div>
                         <div class="product" onclick="showProductImage('/tools/screwdriver1.png')">  <img src="/Tools/screwdriver1.png">  </div>
                         <div class="product" onclick="showProductImage('/tools/pliers1.png')">       <img src="/Tools/pliers1.png">       </div>
      
            `;
    }
        else if (category === "HomeGarden") {

            const selectedLiElement = document.querySelector(`.header li[id="HomeGarden"]`);
            selectedLiElement.classList.add("selected-category");

        products = `
                         <div class="product" onclick="showProductImage('/hg/chair1.png')">           <img src="/hg/chair1.png">                 </div>
                         <div class="product" onclick="showProductImage('/hg/sofa2.png')">            <img src="/hg/sofa2.png">                  </div>
                         <div class="product" onclick="showProductImage('/hg/washingmachine1.png')">  <img src="/hg/washingmachine1.png">        </div>
       
            `;
    }
    else if (category === "Computer") {

            const selectedLiElement = document.querySelector(`.header li[id="Computer"]`);
            selectedLiElement.classList.add("selected-category");

        products = `
                         <div class="product" onclick="showProductImage('/Monitors/Monitor1.png')">         <img src="/Monitors/Monitor1.png">        </div>
                         <div class="product" onclick="showProductImage('/Monitors/Monitor2.png')">         <img src="/Monitors/Monitor2.png">        </div>
                         <div class="product" onclick="showProductImage('/Keyboards/Keyboard1.png')">       <img src="/Keyboards/Keyboard1.png">      </div>
                         <div class="product" onclick="showProductImage('/Mouse/Mouse2.png')">              <img src="/Mouse/Mouse2.png">             </div>
       
            `;
    } 
        productContainer.innerHTML = products;
    }

    function showProductImage(src) {
        const imageDisplay = document.getElementById("displayed-image");
        imageDisplay.src = src;
        imageDisplay.style.display = "block";
    }

</script>