@{
 
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 style="background-color: #0f161e; color: #FFF; display: inline-block; padding: 5px;">
    @ViewBag.Title
</h1>

@await Html.PartialAsync("_productsPartial", (List<Products>)ViewBag.Products)
