
@{
    ViewData["Title"] = "WhiteGoods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 style="background-color: #0f161e; color: #FFF; display: inline-block;">
    White Goods
</h1>


@await Html.PartialAsync("_productsPartial", "ViewBag.Products")

@section Scripts {
    <script>
        function updateQuantity(productId, value) {
            const input = document.querySelector(`input[id="${productId}"]`);
            const updatedQuantity = parseInt(input.value) + value;
            if (updatedQuantity >= 1 && updatedQuantity <= parseInt(input.getAttribute('max'))) {
                input.value = updatedQuantity;
                const hiddenInput = document.getElementById(`quantity_${productId}`);
                hiddenInput.value = updatedQuantity;
            }
        }
    </script>
}