@using Microsoft.AspNetCore.Identity
@using OnShop.Areas.Identity.Data
 
<script>
    document.title = 'OnShop - @ViewData["Title"]';
</script>
 
<!DOCTYPE html>
<html>
<head>
    <title>OnShop - Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/css/_homelayout.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="anagovde">
        <div id="top-bar">
            <div class="sol">
                <h3>
                    <a href="/Home/Index" style="color: #ff6a00;">OnShop</a>
                </h3>
            </div>

            <div class="orta">
                <div class="search-container">
                    <form asp-controller="Product" asp-action="ProductSearch" method="get">
                        <input type="text" name="searchTerm" placeholder="Search...">
                        <button type="submit">Search</button>
                    </form>
                </div>

                <div class="user-container">
                    <ul class="user-tabs"> 
                        <li>
                            <a asp-controller="Product" asp-action="Profile">Profile</a>  
                        </li>
                      
                        <li>
                            <a asp-controller="Product" asp-action="Profile">Contact Us</a> 
                        </li>
                       
                    </ul>
                </div> 
            </div>

            <div class="login"> 
                <partial name="_LoginPartial.cshtml" />
            </div>
        </div>

        <div class="menu">
            <div class="orta-2">

                <ul class="ortaMenu">
                    <li class="dropdown">
                        <a href="/Home/Products?Category=Clothing-Shoes">Clothing & Shoes</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Home/Products?Category=Shoes">Shoes</a></li>
                            <li><a href="/Home/Products?Category=Tshirts">Tshirts</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/Home/Products?Category=Computer">Computer</a> 
                        <ul class="dropdown-menu">
                            <li><a href="/Home/Products?Category=Monitors">Monitors</a></li>
                            <li><a href="/Home/Products?Category=Keyboards">Keyboards</a></li>
                            <li><a href="/Home/Products?Category=Mouse">Mouse</a></li> 
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/Home/Products?Category=Home-Garden">Home & Garden</a> 
                        <ul class="dropdown-menu">
                            <li><a href="/Home/Products?Category=Chairs">Chairs</a></li>
                            <li><a href="/Home/Products?Category=Sofas">Sofas</a></li>
                            <li><a href="/Home/Products?Category=WhiteGoods">WhiteGoods</a></li> 
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/Home/Products?Category=Accessories">Accessories</a> 
                        <ul class="dropdown-menu">
                            <li><a href="/Home/Products?Category=Wallets">Wallets</a></li>
                            <li><a href="/Home/Products?Category=Sunglasses">Sunglasses</a></li>
                            <li><a href="/Home/Products?Category=Hairbands">Hairbands</a></li> 
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/Home/Products?Category=Tools">Tools</a> 
                        <ul class="dropdown-menu">
                            <li><a href="/Home/Products?Category=Pliers">Pliers</a></li>
                            <li><a href="/Home/Products?Category=Screwdrivers">Screwdrivers</a></li>
                            <li><a href="/Home/Products?Category=Drills">Drills</a></li> 
                        </ul>
                    </li>
                </ul>
            </div>
            @{
                Html.RenderPartialAsync("_CartDropdownPartial");
            } 
        </div>
        <div id="icerik">
            <div class="post">
                @RenderBody()
            </div>
        </div>
        <div class="bar-2"></div>  
        <div id="footer">  <h3 style="color:white;">OnShop</h3></div>
    </div>
     
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     
    @await RenderSectionAsync("Scripts", required: false)
     
</body>
</html>
 