@using Microsoft.AspNetCore.Identity
@using OnShop.Areas.Identity.Data
 

 
<!DOCTYPE html>
<html>
<head>
    <title>Üst Sabit Menü2</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/css/_homelayout.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="anagovde">
        <div id="top-bar">
            <div class="sol">
                <h3>
                    <a href="/Home/Index" style="color: #ff6a00;">OnShop</a>
                </h3>
            </div>

            <div class="orta">
                <div class="search-container">
        
                    <input type="text" placeholder="Ara...">
                    <button type="submit">Ara</button>
                </div>
                <div class="user-container">
                    <ul class="user-tabs"> 
                        <li>
                            <a asp-controller="Product" asp-action="Profile">Profile</a>

                            
                        </li>
                    </ul>
                </div>


            </div>

            <div class="sag">
          
                <partial name="_LoginPartial.cshtml" />
            </div>
        </div>
        <div class="menu">
            <div class="orta-2">

                <ul class="ortaMenu">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">Fashion and Accessories</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Home/Shoes">Shoes</a></li>
                            <li><a href="/Home/Tshirts">Tshirts</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"  data-toggle="dropdown">Computer</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Monitor</a></li>
                            <li><a href="#">Keyboard</a></li>
                            <li><a href="#">Mouse</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            @{
                Html.RenderPartial("_CartDropdownPartial");
            }
          

        </div>
        <div id="icerik">
            <div class="post">
                @RenderBody()
            </div>
        </div>
        <div class="bar-2"></div>  
        <div id="footer">Sabit Dip</div>
    </div>


    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


 

  
    @await RenderSectionAsync("Scripts", required: false)

 

</body>
</html>
 