@model UserProducts

@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-3">
        <div class="list-group position-sticky" style="margin-top: 65px;">
            <a href="/Product/Profile" class="list-group-item">Your Cart</a>
            <a href="/Product/YourProducts" class="list-group-item">Your Products</a>

        </div>
    </div>
<div class="container">
        <h1 style="background-color: #0f161e; color: #fff; margin-top:65px;">Edit Product</h1>


        <form asp-action="EditProduct" method="post" onsubmit="return validateDescriptionLength()">
        <input type="hidden" asp-for="ProductId" />

       

        <div class="form-group">
            <label asp-for="ProductName">Product Name</label>
            <input asp-for="ProductName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" type="number" step="0.01" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="Quantity">Quantity</label>
            <input asp-for="Quantity" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl">Image Url</label>
            <input asp-for="ImageUrl" class="form-control" />
        </div>

        
        <input type="hidden" asp-for="CategoryName" />
        <input type="hidden" asp-for="CategoryId" />
        <input type="hidden" asp-for="UserProductId" />

        <input type="hidden" asp-for="ApplicationUser.Id" />
        <input type="hidden" asp-for="ApplicationUser.FirstName" />
        <input type="hidden" asp-for="ApplicationUser.LastName" />
     

        <button type="submit" class="btn btn-primary">Update Product</button>
    </form>
</div>
<div asp-validation-summary="All"></div>
    <script>
        function validateDescriptionLength() {
            var description = document.getElementById("Description").value;
            if (description.length > 120) {
                alert("Description should not exceed 120 characters.");
                return false;  
            }
            return true;  
        }
    </script>
